html {
    min-height: 100%;
    background: url("../img/background.jpg") rgba(0, 0, 0, 0.3);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

body {
    margin: 0;
    margin-left: 10%;
    margin-top: 2%;
	height: 100%;
    font-family: 'barlow semi condensed', sans-serif;
	font-weight: 400;
    line-height: 1.5;
    color: white;
}

h1 {
    font-size: 48pt;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description-text {
    font-size: 16pt;
    width: 50%;
}

p.countdown-text {
    margin: 0;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    margin-left: 0px;
}

.timer-section {
    display: flex;
    flex-direction: column;
}

.countdown-text {
    display: flex;
    align-items: flex-start;
    font-size: 16pt;
}

.countdown-number {
    font-size: 36pt;
    font-weight: 500;
}
